.itemContainer {
  display: flex;
  //   border-bottom: 1px solid #e6e6e6;
  padding: 16px;
  width: 100%;
  .image {
    width: 230px;
    height: 230px;
    // object-fit: cover;
    cursor: pointer;
  }
  img {
    width: 100%;
    height: auto;
  }
  .mid {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 16px;
    .name {
      font-weight: bold;
      margin-bottom: 8px;
    }
    .price {
      margin-bottom: auto;
    }
    .countContainer {
      display: flex;
      align-items: center;
      gap: 20px;
      .icon {
        cursor: pointer;
      }
    }
  }
  .priceContainer {
    display: flex;
    .sumPrice {
      min-width: 85px;
    }
    .icon {
      cursor: pointer;
    }
  }
}
