.itemContainer {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  padding: 16px;
  width: 100%;
  .image {
    width: 230px;
    height: 230px;
    // object-fit: cover;
    cursor: pointer;
  }
  img {
    width: 100%;
    height: auto;
  }
  .mid {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 16px;
    .name {
      font-weight: bold;
      margin-bottom: 8px;
    }
    .price {
      // margin-bottom: auto;
    }
    .countContainer {
      display: flex;
      align-items: center;
      gap: 20px;
      .icon {
        cursor: pointer;
      }
    }
  }
  .priceContainer {
    display: flex;
    flex-direction: column;
    .sumPrice {
      margin-left: auto;
    }
    .btn {
      width: 100px;
      height: 36px;
      background-color: black;
      margin-top: auto;
    }
    .icon {
      cursor: pointer;
    }
  }
}
.infoContainer {
  display: flex;
  padding: 16px;
  .infoLeft {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .infoRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    justify-content: flex-end;
    .total {
      // margin-left: auto;
      // margin-bottom: 8px;
      .price {
        color: red;
        font-weight: 600;
        font-size: 16px;
      }
    }
    .day {
      margin: 5px 0;
    }
    .btn {
      width: 100px;
      height: 36px;
      background-color: black;
      margin-left: 8px;
    }
  }
}
.buy {
  display: flex;
  .btn {
    width: 100px;
    height: 36px;
    background-color: black;
    margin-left: auto;
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
