.header {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    .icon {
      height: 30px;
      cursor: pointer;
    }
    .rightContainer {
      display: flex;
      align-items: center;
      gap: 25px;
      .image {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }
  }
}
