.container {
  max-width: 1200px;
  margin: 0 auto;
  .imageContainer {
    display: flex;
    gap: 40px;
    .image {
      width: 100%;
      height: auto;
    }
    .infoContainer {
      min-width: 350px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      & > span {
        font-size: 22px;
        color: #999;
      }
      .name {
        font-weight: 600;
        font-size: 32px;
      }
      .price {
        color: #333;
        font-weight: 500;
      }
      .normalBtn {
        background-color: lightgray;
      }
      .redBtn {
        color: red;
      }
      .date {
        color: #999;
      }
      .btnContainer {
        display: flex;
        gap: 10px;
      }
    }
  }
  .subImageContainer {
    display: flex;
    margin-top: 16px;
  }
}
