.container {
  max-width: 1200px;
  margin: 0 auto;
  .imageContainer {
    display: flex;
    gap: 40px;
    .image {
      width: 100%;
      height: auto;
    }
    .infoContainer {
      min-width: 350px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      & > span {
        font-size: 22px;
        color: #999;
      }
      .name {
        font-weight: 600;
        font-size: 32px;
      }
      .price {
        color: #333;
        font-weight: 500;
      }
      .normalBtn {
        background-color: lightgray;
      }
      .redBtn {
        color: red;
      }
      .date {
        color: #666;
      }
      .btnContainer {
        display: flex;
        gap: 10px;
      }
      .btn {
        background-color: black;
      }
    }
  }
  .subImageContainer {
    display: flex;
    margin-top: 16px;
  }
  .bottom {
    padding-bottom: 30px;
    & > p {
      font-size: 18px;
      font-weight: 700;
    }
    .commentContainer {
      max-width: 500px;
      border: 1px solid #e2e4e7;
      border-radius: 8px;
      padding: 8px;
      .fContainer {
        display: flex;
        & > p {
          font-size: 14px;
          color: #666;
        }
        .rateContainer {
          display: flex;
          flex: 1;
          // margin-right: 80px;
        }
      }
    }
  }
}
